---
import { getCollection } from "astro:content";
import { addAppInfos } from "../helpers/apps";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PageLayout from "../layouts/PageLayout.astro";
import { Project } from "../components/react/Project";
const apps = await getCollection("app", ({ data }) => data.appStoreId);

const appDetails = await addAppInfos(apps);

const meta = {
  title: `${SITE_TITLE} - Apps`,
  description: SITE_DESCRIPTION,
  image: "/images/og.png",
  url: "https://astro.build",
};
---

<PageLayout meta={meta}>
  <div>
    <h1
      class="text-center text-4xl md:text-6xl font-bold leading-tighter tracking-tighter mb-8 md:mb-16 font-heading text-blue-100"
    >
      Quality crafted
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-blue-300 to-red-500 pr-[0.025em] mr-[-0.025em]"
        >apps</span
      >
    </h1>
    <section
      class="mx-auto grid gap-5 sm:gap-12 grid-cols-1 lg:grid-cols-2 sm:p-1 my-12 text-white"
    >
      {
        appDetails.map((app) => (
          <Project
            description={app.app.data.description}
            logo={app.app.data.logo || app.details?.icon || "404"}
            tags={app.app.data.tags}
            name={app.app.data.title}
            url={app.app.slug}
          />
        ))
      }
    </section>
  </div>
</PageLayout>
